---
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NewGamer - Gracias</title>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"
        ></script>
        <link rel="icon" href="./img/icono 3.svg" />
        <link href="/styles/styles.css" rel="stylesheet" />
        <script src="/js/beforeLoad.js" is:inline></script>
    </head>
    <body class="preload color3 darkBackgroundColor1 darkColor5" data-spy="#scroll" data-target="#nav" data-offset="20" style="opacity: 0;">
        <dialog open id="loading" class="flex flex-col">
            <span class="lds-dual-ring"></span>
            <span>Loading...</span>
        </dialog>
    <Header />
    <section class="py-10">
        <div class="container mx-auto">
            <h1 class="text-center">Gracias!</h1>
            <p class="text-center">Tu compra ha sido realizada con éxito</p>
            <div class="w-full flex flex-row justify-center pt-4">
                <a style="max-width: 500px;" href="/buscador"
                    class="text-center w-full bg-red-600 text-white font-bold py-4 px-8 text-lg rounded-lg shadow-lg hover:bg-red-700 transition duration-300 ease-in-out focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-opacity-50">
                    Volver a la tienda
                </a>
            </div>
        </div>
    </section>

    </body>

    <script src="/js/common.js" is:inline></script>
    <script>
        localStorage.removeItem('productsIds');
    </script>
</html>