<footer class="bg-[var(--color1)] dark:bg-[var(--color9)] text-[var(--color5)] dark:text-[var(--color2)] px-6 py-10 mt-10 rounded-t-2xl shadow">
    <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-8 text-center md:text-left">
        
        <div class="flex flex-col items-center md:items-start">
            <img src="/public/img/pet.svg" alt="Logo" class="w-20 h-20 mb-2">
            <p class="font-semibold text-lg">NewGamer</p>
            <p class="text-sm">Los mejores PC Gaming</p>
        </div>

        <div>
            <h3 class="font-semibold mb-2">Secciones</h3>
            <ul class="space-y-1 text-sm">
                <li><a href="/" class="hover:underline">Inicio</a></li>
                <li><a href="/buscador" class="hover:underline">Productos</a></li>
                <li><a href="#historial" class="hover:underline">Historial</a></li>
            </ul>
        </div>

        <div>
            <h3 class="font-semibold mb-2">Soporte</h3>
            <ul class="space-y-1 text-sm">
                <li><a href="/seguimiento" class="hover:underline">Seguimiento</a></li>
            </ul>
        </div>

        <div>
            <h3 class="font-semibold mb-2">Legal</h3>
            <ul class="space-y-1 text-sm">
                <li><a href="/terminos_y_condiciones" class="hover:underline">Terminos y condiciones</a></li>
            </ul>
        </div>
    </div>

    <div class="mt-10 text-sm text-center">
        <p class="mb-1">© 2025 NewGamer. Todos los derechos reservados.</p>
    </div>
</footer>