
/* general */

h1 {
    font-size: 3rem !important;
    font-weight: 500 !important;
}

h2 {
    font-size: 1.5rem !important;
    font-weight: 500 !important;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.4rem !important;
    }
    
    h2 {
        font-size: 1.2rem !important;
    }
  }

li::before {
    content: "•";
    margin-right: 8px;
}

thead{
    height: 40px !important;
}

table{
    border-collapse: collapse;
    border: 2px solid var(--colorBG4) !important;
}

table td, table th {
    padding: 5px 10px !important;
}

table th{
    border : 2px solid var(--colorBG4) !important;
    border-left-width: 0px !important;
    border-right-width: 0px !important;
}

/* end: general */


/* TABLE */
table {
    width: 100%;
}

table thead {
    white-space: nowrap;
    /* Prevent wrapping inside the container */
    height: 60px;
}

table * {
    border: none !important;
}

table tr:nth-child(even) {
    background-color: var(--colorBG1);
}

.tableContainer {
    min-width: 100%;
    overflow-x: auto;
    box-shadow: var(--boxShadow1);
    border-radius: 10px;
}

:root {
    .tableContainer::-webkit-scrollbar {
        width: 12px;
    }

    .tableContainer::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
        border-radius: 0px 0px 10px 10px;
    }

    .tableContainer::-webkit-scrollbar-thumb {
        background-color: rgb(220, 220, 220);
        border-radius: 0px 0px 10px 10px;
    }
}

:root[theme="dark"] {
    .tableContainer::-webkit-scrollbar {
        width: 12px;
    }

    .tableContainer::-webkit-scrollbar-track {
        background: rgb(70, 70, 70);
        border-radius: 0px 0px 10px 10px;
    }

    .tableContainer::-webkit-scrollbar-thumb {
        background-color: rgb(89, 89, 89);
        border-radius: 0px 0px 10px 10px;
    }
}
/* END: TABLE */